.product-card {
  display: flex;
}
.product-card--left{
  width: 70%;
  min-width:600px;
}
.product-card--feature-media {
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-card--medias {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.product-card--right{
  width: 30%;
  min-width: 300px;
}